.filter-btn{
    border:0.1rem solid #F76E11;
    padding: 0.7rem 2.5rem;
    background: transparent;
    margin-left: 1.5rem;
    color: #fff;
    border-radius: .5rem;
    cursor: pointer;
}

.menu__title{
    color: #f5b70a;
    text-align: center;
}
.active__btn{
    background: #F76E11;
}
.button__block{
    margin: 0 auto;
    text-align: center;
    margin-bottom: 5rem;
}
.title__block{
    text-align: center;
    margin-bottom: 3rem;
}
.product__item{
    margin-bottom: 4rem;
}
